<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Methylscape Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    Dear Administrator, <br />
    <p>The Methylscape data import initiated on <b><%- date %></b> failed.</p>
    <pre><%- error %></pre>
    <p>
      For more information, including any log events preceding this error, please visit the
      <a href="<%= dataImportLink %>">Methylscape Data Import page</a>
      under the admin dashboard.
    </p>
    <p>
      Sincerely,<br />
      Methylscape Web Admin Team
    </p>
  </body>
</html>
