.data-background-image {
  background-repeat: no-repeat;
  background-position: left center;
}

.data-text {
  margin-left: 150px;
}

.header-img {
  position: relative;
}
.detail-table {
  background-color: #e4f8ff;
}
.detail-table-divider {
  border-left: 3px solid #6ba5b4;
}

.border-inactive {
  border-bottom: 4px solid transparent;
}

.border-active {
  border-bottom: 4px solid orange;
}
